.icon {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_size_s {
  width: var(--text-line-height-28);
  height: var(--text-line-height-28);
  line-height: var(--text-line-height-28);
}
.icon_size_m {
  width: var(--text-line-height-36);
  line-height: var(--text-line-height-36);
}

@media screen and (max-width: $screen-m) {
  .icon {
    position: relative;
  }
}

.icon_view_ghost svg {
  fill: var(--color-text-ghost);
}

.icon + .button__text {
  margin-left: 24px;
}
