@import '../../var.scss';
$screen-m: 768px;
.footer {
  flex-shrink: 0;
  background-color: var(--blue-grey-50);
}

.footer__links a {
  margin-right: var(--space-12);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1024px;
  padding: var(--space-7) var(--padding);
}

.footer__links {
  display: flex;
  align-items: center;
}

.footer__copyright {
  display: flex;
  align-items: center;
}

@media screen and (max-width: $screen-m) {
  .footer__content {
    flex-direction: column;
    padding-top: var(--space-12);
    padding-bottom: var(--space-12);
  }

  .footer__content > * {
    margin-bottom: var(--space-8);
  }
}
