.grid {
  display: grid;
  width: 100%;
}

.grid_col-gap_full {
  column-gap: var(--gap);
}

@media screen and (min-width: $screen-m) {
  .grid_m-columns_12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid__fraction_m-col_4 {
    grid-column: span 4;
  }
  .grid__fraction_m-col_4.grid__fraction_m-offset_4 {
    grid-column: 5 / 9;
  }
  .grid__fraction_m-col_7 {
    grid-column: span 7;
  }
  .grid__fraction_m-col_12 {
    grid-column: span 12;
  }
}

@media screen and (max-width: $screen-m) {
  .grid_s-columns_4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid__fraction_s-col_2 {
    grid-column: span 2;
  }
  .grid__fraction_s-col_2.grid__fraction_s-offset_1 {
    grid-column: 2 / span 2;
  }
  .grid__fraction_s-col_4 {
    grid-column: span 4;
  }
}

