.form {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-8);
}

.form__title {
  display: flex;
  flex-direction: column;
}

.form__header {
  font-weight: 700;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item_indent-t_xl {
  margin-top: var(--space-18);
}
.form__item:last-child {
  margin-bottom: 0;
}

.form__controls {
  display: flex;

  margin-top: var(--space-24);
}

@media screen and (max-width: $screen-m) {
  .form {
    padding-top: var(--space-14);
  }
  .form__controls {
    flex-direction: column;
    margin-top: var(--space-20);
  }

  .form__controls .button {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
