@import './var.scss';

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  // max-width: 1024px;
  // justify-content: center;
  // align-items: center;
}

.layout__container {
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-bottom: var(--space-20);
  padding-top: var(--space-8);

  width: 100%;
  // max-width: 1024px;
  flex-grow: 1;
}

.layout__container_hero {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

// .layout__container_indent-b_20 {
//   margin-bottom: var(--space-20);
// }
.layout__container_indent-b_12 {
  margin-bottom: var(--space-12);
}

.layout__container_align_center {
  margin: 0 auto;
}

@media screen and (max-width: $screen-m) {
  .layout__container {
    padding-right: var(--space-13);
    padding-left: var(--space-13);
    padding-bottom: var(--space-16);
    padding-top: var(--space-4);
  }
  .layout__container_size_m-full {
    padding-right: 0;
    padding-left: 0;
    background-color: var(--blue-grey-50);
  }
  // .layout__container_indent-b_20 {
  //   margin-bottom: var(--space-16);
  // }
}
