.theme * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.theme_color_project-default {
  --color-bg-control: var(--blue-grey-450);
  --color-bg-control-hovered: #dbdbdb;
  --color-bg-accent: var(--yellow-500);
  --color-bg-action-hovered: #f2c200;
  --color-bg-border-action-focused: #b38f00;
  --color-bg-border-focused: #b3b3b3;
  --color-bg-border: var(--blue-grey-150);
  --color-bg-disabled: var(--blue-grey-100);
  --color-bg-valid: var(--green-500);
  --color-bg-invalid: var(--red-500);
  --color-bg-main: #ffffff;
  --color-text-ghost: var(--blue-grey-500);
  --color-text-disabled: #7f7f7f;
  --color-text-success: var(--green-500);
  --color-text-error: var(--red-500);
  --color-text-warning: var(--orange-500);
  --color-text-primary: #000000;
  --color-text-secondary: rgba(0, 0, 0, 0.6);
}

.theme_size_default {
  --text-line-height-15: 15px;
  --text-line-height-16: 16px;
  --text-line-height-18: 18px;
  --text-line-height-20: 20px;
  --text-line-height-22: 22px;
  --text-line-height-28: 28px;
  --text-line-height-30: 30px;
  --text-line-height-36: 36px;
  --text-line-height-38: 38px;
  --text-size-10: 10px;
  --text-size-13: 13px;
  --text-size-15: 15px;
  --text-size-16: 16px;
  --text-size-18: 18px;
  --text-size-24: 24px;
}

.theme_space_default {
  --space-4: 4px;
  --space-6: 6px;
  --space-7: 7px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-13: 13px;
  --space-14: 14px;
  --space-16: 16px;
  --space-18: 18px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
}

.theme_gap_small {
  --gap: var(--space-16);
  --padding: 100px;
}

@media screen and (max-width: $screen-m) {
  .theme_space_default {
    --padding: var(--space-16);
    --gap: var(--space-13);
  }
}
