doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='style.css')
  title Start page
body.page.theme.theme_color_project-default.theme_size_default.theme_space_default.theme_gap_small
  .layout.layout_v-ratio_1-full-1
    .header
      .header__content.header__content_distribute_betwen
        .header__title
          .text.text_type_h1.text_size_24-28.text_view_ghost
            | School CI Server
        .header__controls
          form(action="./settings.html")
            button.button.button_size_s.button_distribute_center.button_view_control
              .icon.icon_size_s
                svg(width='12', height='12', viewbox='0 0 12 12', xmlns='http://www.w3.org/2000/svg')
                  path(d='M11.4658 7.44193L10.4352 6.84677C10.5392 6.28548 10.5392 5.70968 10.4352 5.14839L11.4658 4.55323C11.5844 4.48549 11.6376 4.34517 11.5989 4.21452C11.3303 3.35324 10.8731 2.57421 10.2755 1.92582C10.1836 1.82663 10.0336 1.80244 9.91745 1.87018L8.88681 2.46534C8.45374 2.09276 7.95536 1.80485 7.41585 1.61615V0.428247C7.41585 0.292763 7.32149 0.174216 7.18843 0.145183C6.30053 -0.0532029 5.39085 -0.0435256 4.5465 0.145183C4.41344 0.174216 4.31908 0.292763 4.31908 0.428247V1.61856C3.78199 1.80969 3.2836 2.0976 2.84812 2.46776L1.8199 1.8726C1.70135 1.80485 1.55377 1.82663 1.46184 1.92824C0.864258 2.57421 0.407002 3.35324 0.138454 4.21694C0.0973256 4.34759 0.152971 4.48791 0.271518 4.55565L1.30216 5.15081C1.19813 5.7121 1.19813 6.2879 1.30216 6.84919L0.271518 7.44435C0.152971 7.51209 0.0997449 7.65241 0.138454 7.78306C0.407002 8.64434 0.864258 9.42337 1.46184 10.0718C1.55377 10.171 1.70377 10.1951 1.8199 10.1274L2.85054 9.53224C3.2836 9.90482 3.78199 10.1927 4.3215 10.3814V11.5718C4.3215 11.7072 4.41586 11.8258 4.54892 11.8548C5.43682 12.0532 6.3465 12.0435 7.19085 11.8548C7.32391 11.8258 7.41827 11.7072 7.41827 11.5718V10.3814C7.95536 10.1903 8.45374 9.9024 8.88923 9.53224L9.91987 10.1274C10.0384 10.1951 10.186 10.1734 10.2779 10.0718C10.8755 9.42579 11.3328 8.64676 11.6013 7.78306C11.6376 7.64999 11.5844 7.50967 11.4658 7.44193ZM5.86747 7.93306C4.80053 7.93306 3.93199 7.06451 3.93199 5.99758C3.93199 4.93065 4.80053 4.0621 5.86747 4.0621C6.9344 4.0621 7.80294 4.93065 7.80294 5.99758C7.80294 7.06451 6.9344 7.93306 5.86747 7.93306Z')
              .button__text.decorator.hide_mobile
                | Settings
    .layout__container.layout__container_hero.layout__container_size_s.layout__container_align_center
      .grid.grid_m-columns_12.grid_col-gap_full.grid.grid_s-columns_4
        .grid__fraction.grid__fraction_m-col_4.grid__fraction_s-col_4.grid__fraction_m-offset_4
          .rep-connection
            .rep-connection__logo
              svg(width='124', height='124', viewbox='0 0 124 124', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M54.2526 23.2719V35.0895L61.446 42.2818C59.799 33.8545 62.2937 25.2577 68.3486 19.2036C73.2653 14.2877 79.7805 11.6481 86.5136 11.6481H86.8042L72.902 25.4999L76.5592 47.4399L98.5025 51.0966L112.38 37.2206C112.453 44.0738 109.813 50.6607 104.824 55.6493C102.571 57.9014 99.9314 59.6207 97.1219 60.88C97.5579 61.2675 98.0665 61.5823 98.4782 61.9939L105.914 69.4284C108.457 67.9027 110.879 66.0623 113.034 63.8828C122.262 54.6564 126.041 41.0468 122.892 28.3816C122.165 25.4272 119.889 23.1024 116.982 22.2791C114.027 21.4557 110.879 22.3033 108.747 24.4585L94.5304 38.6494L86.6831 37.3417L85.3753 29.4956L99.5681 15.3048C101.724 13.1495 102.547 10.0014 101.724 7.07118C100.924 4.141 98.5751 1.86466 95.6203 1.13817C82.7353 -2.05839 69.487 1.6225 60.1139 10.97C57.6434 13.4401 55.6332 16.225 53.9862 19.1794L54.2526 19.3731V23.2719ZM25.6731 109.942C22.573 113.042 17.1235 113.042 14.0233 109.942C12.4733 108.393 11.6013 106.31 11.6013 104.13C11.6013 101.927 12.449 99.8684 14.0233 98.3185L46.5749 65.7717L38.3644 57.5623L5.81278 90.085C2.05869 93.8385 0 98.8271 0 104.13C0 109.434 2.05869 114.422 5.81278 118.176C9.56687 121.929 14.5562 123.988 19.8603 123.988C25.1645 123.988 30.1538 121.929 33.9079 118.176L58.3458 93.7416C55.9965 89.9154 54.6644 85.5565 54.5433 81.1249L25.6731 109.942ZM121.366 95.8242L93.0045 67.4669C87.4097 61.8729 79.0539 60.7831 72.3207 64.1008L46.5023 38.2861V23.2477L15.5008 0L0 15.4985L23.2511 46.4955H38.2917L64.1102 72.3101C60.8162 79.0423 61.8819 87.3969 67.4767 92.9909L95.8383 121.348C99.3744 124.884 105.09 124.884 108.602 121.348L121.366 108.586C124.878 105.051 124.878 99.3356 121.366 95.8242Z', fill='black', fill-opacity='0.1')
            .rep-connection__message
              .text.text_size_13-16.text_center
                | Configure repository connection and synchronization settings
            .rep-connection__controls
              form(action="./settings.html")
                button.button.button_size_m.button_view_action
                  .button__text
                    | Open Settings
    .footer
      .footer__content
        .footer__links
          a(href='#')
            .text.text_view_ghost.text_size_13-18.text_type_link
              | Support
          a(href='#')
            .text.text_view_ghost.text_size_13-18.text_type_link
              | Learning
        .footer__copyright
          .text.text.text_size_13-18.text_view_ghost
            | &copy; 2020 Your Name
